.homeWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .mainBannerWrap {
    width: 1400px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;

    .mainbannerWrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0 20px 0 20px;

      .mainBanner {
        width: 100vw;
        height: 100%;

        display: flex;

        .banner {
          display: block;
          width: 635px;
          height: 100%;
          margin-right: 20px;
        }
      }
    }

    .bannerButton {
      border: none;
      background-color: inherit;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .pagenationWrpaer {
    height: 30px;
    display: flex;
    justify-content: center;
    margin-right: 10px;

    .pagefirst {
      width: 20px;
      background-color: inherit;
      border: none;
      margin-left: 10px;
      cursor: pointer;
    }
    .pageLeftBtn {
      width: 20px;
      background-color: inherit;
      border: none;
      margin-right: 10px;
      cursor: pointer;
    }
    .pageRightBtn {
      width: 20px;
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  }

  .introduceCompany {
    width: 86%;
    margin: 5px auto;
    align-items: center;
    display: flex;
    justify-content: right;

    button {
      width: 250px;
      height: 50px;
      background-color: inherit;
      border: 1px solid black;

      right: 30px;
    }
  }

  .categoryShow {
    width: 100%;
    height: 1.5rem;
    margin: 5px auto 2px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    .sectorsView {
      font-weight: bold;
      position: absolute;
      left: 7%;
    }

    .allView {
      button {
        cursor: pointer;
        border: none;
        background-color: inherit;
        font-weight: 600;
        position: absolute;
        right: 6%;
      }
    }
  }

  .contentWrapper {
    width: 100%;
    height: 500px;

    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    justify-items: center;
    overflow-y: scroll;
  }

  .contentWrapper::-webkit-scrollbar {
    display: none;
  }

  .ZendeskPageOpen {
    margin-top: 10px;
    margin-left: 50px;
    button {
      text-decoration: underline;
      cursor: pointer;
      background: inherit;
      border: none;
    }
  }
}
