body {
  width: 70%;
  margin-left: 15%;
}

.mainContainer {
  width: 70%;
  padding-left: 5%;
  position: relative;
  .head {
    .headTitle {
      margin-top: 50px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .AutoSaveWrap {
    margin-right: 7%;
    p {
      margin: 0;
      text-align: right;
    }
    .autoSave {
      margin-top: 5px;
    }
  }

  .dropdown {
    span {
      font-size: 16px;
      font-weight: 700;
      margin-right: 50px;
    }
    .category {
      height: 30px;
      width: 100px;
      font-size: 15px;
      text-align: center;
    }
    .detail {
      height: 30px;
      width: 70px;
      margin-left: 10px;
      font-size: 15px;
      text-align: center;
    }
  }
  .categoryAlert {
    margin: 2px 0 0 8%;
    font-size: 12px;
    color: red;
  }

  .companyNameWrap {
    margin-top: 18px;
    span {
      font-weight: 700;
    }
    .companyNameInput {
      margin-left: 18px;
      height: 25px;
      width: 110px;
    }
    .nameAlert {
      margin: 2px 0 0 8%;
      font-size: 12px;
      color: red;
    }
  }

  .compLogoWrap {
    padding-top: 25px;
    display: inline-block;
    // position: relative;
    span {
      font-weight: 700;
    }

    .fileAddWrap {
      margin-left: 20px;
      display: inline;

      input[type="file"] {
        display: none;
      }
      label {
        border: 1px solid black;
        padding: 8px 8px;
        font-size: 15px;
      }
      .logoPreview {
        display: inline;
        position: absolute;
        top: 18%;
        left: 24%;
        width: 10%;
        height: 10%;

        .logoImg {
          overflow: hidden;
          max-width: 100%;
          width: 72px;
          height: 60px;
        }
        .imgLogoCancel {
          background-image: url("../../../src/assets/cancel.png");
          background-position-x: 50%;
          background-position-y: center;
          width: 15px;
          height: 15px;
          border: none;
          margin-left: 8px;
          position: absolute;
          top: 1%;
          left: 29%;
        }
      }

      p {
        font-size: 15px;
        margin: 15px 0 0 185px;
      }

      .logoAlert {
        margin: 2px 0 0 42%;
        font-size: 12px;
        color: red;
      }
    }
  }

  .compIntroduceWrap {
    margin-top: 18px;
    width: 100%;

    .intTitle {
      vertical-align: top;
      font-weight: 700;
    }
    .intTextWrap {
      width: 89%;
      display: inline-block;
      position: relative;
      .compIntroduce {
        margin-left: 20px;
        width: 100%;
        height: 70px;
        resize: none;
      }
      textarea::placeholder {
        // color: black;
        padding-top: 10px;
        padding-left: 5px;
      }
      textarea:focus::placeholder {
        color: transparent;
      }
      .textCnt {
        position: absolute;
        top: 15px;
        right: 1px;
        font-weight: 400;
        font-size: 14px;

        &.full {
          color: red;
        }
      }
      .intAlert {
        margin: 2px 0 0 2%;
        font-size: 12px;
        color: red;
      }
    }
  }

  .compHomepageWrap {
    margin-top: 18px;
    span {
      font-weight: 700;
    }
    .compHomepage {
      margin-left: 29px;
      width: 45%;
      height: 25px;
    }
    input::placeholder {
      padding-left: 5px;
    }
    input:focus::placeholder {
      color: transparent;
    }
  }

  .compMainWrap {
    margin-top: 18px;
    span {
      font-weight: 700;
    }
    .compMain {
      margin-left: 15px;
      width: 87%;
      height: 25px;
    }
    input::placeholder {
      padding-left: 5px;
    }
    input:focus::placeholder {
      color: transparent;
    }
    p {
      font-size: 12px;
      color: red;
      margin: 5px 0 0 11%;
    }
    .mainAlert {
      margin: 2px 0 0 11%;
      font-size: 12px;
      color: red;
    }
  }

  .compDetailWrap {
    margin-top: 18px;

    width: 100%;
    p {
      margin: 0;
      font-weight: 700;
    }

    .DetailTextWrap {
      width: 87%;
      position: relative;
      .compDetail {
        margin-top: 7px;
        margin-left: 112px;
        width: 100%;
        height: 90px;
        resize: none;
      }
      textarea::placeholder {
        font-size: 15px;
        padding-top: 20px;
        padding-left: 5px;
      }
      textarea:focus::placeholder {
        color: transparent;
      }
      .compDetailCnt {
        position: absolute;
        right: -100px;
        top: 70px;
        font-size: 14px;
        font-weight: 400;
        &.full {
          color: red;
        }
      }
    }
  }

  .compBenefitWrap {
    margin-top: 18px;

    p {
      margin: 0;
      font-weight: 700;
    }
    .benefitTextWrap {
      width: 87%;
      position: relative;
      margin-top: 10px;
      .compBenefit {
        width: 100%;
        height: 80px;
        margin: 0 0 0 112px;
        resize: none;
      }
      textarea::placeholder {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 5px;
      }
      textarea:focus::placeholder {
        color: transparent;
      }

      .compBenefitCnt {
        position: absolute;
        right: -100px;
        top: 55px;
        font-size: 14px;
        font-weight: 400;
        &.full {
          color: red;
        }
      }
    }
  }

  .compCallWrap {
    margin-top: 18px;
    span {
      font-weight: 700;
    }
    .compCall {
      width: 75%;
      height: 25px;
      margin-left: 25px;
    }
    input:focus::placeholder {
      color: transparent;
    }
    .callAlert {
      margin: 2px 0 0 10%;
      font-size: 12px;
      color: red;
    }
  }

  .compIntroLetterWrap {
    margin-top: 25px;
    position: relative;
    span {
      font-weight: 700;
      display: inline-block;
      vertical-align: top;
    }
    .comIntroLetterSection {
      display: inline-block;
      margin-left: 25px;

      input[type="file"] {
        display: none;
      }
      label {
        border: 1px solid black;
        padding: 8px 8px;
        font-size: 15px;
      }
      .letterName {
        font-size: 14px;
        font-weight: 400;
        margin-left: 12px;
        display: inline-block;
        vertical-align: bottom;
      }
      .intFileCancel {
        background-image: url("../../../src/assets/cancel.png");
        background-position-x: 50%;
        background-position-y: center;
        width: 15px;
        height: 15px;
        border: none;
        margin-left: 8px;
        position: absolute;
        bottom: 28px;
      }
      p {
        font-size: 14px;
        margin: 15px 0 0 0;
      }
    }
  }

  .usePlaceWrap {
    margin-top: 18px;
    span {
      font-weight: 700;
    }
    .usePlace {
      margin-left: 20px;
      height: 30px;
      width: 90px;
      text-align: center;
    }
    .localAlert {
      margin: 2px 0 0 12%;
      font-size: 12px;
      color: red;
    }
  }

  .termsOfUseWrap {
    margin-top: 18px;
    width: 100%;
    display: flex;
    justify-content: center;

    input[type="checkbox"] {
      -webkit-transform: scale(1.5);
      margin-right: 10px;
    }
  }
  .boxAlert {
    margin: 2px 0 0 28%;
    font-size: 12px;
    color: red;
  }

  .btnWrap {
    margin-top: 18px;
    display: flex;
    justify-content: center;

    button {
      border: none;
      width: 80px;
      height: 50px;
      font-weight: 700;
      font-size: 15px;
    }
    .preview {
      margin-right: 15px;
    }
    .cancel {
      margin-left: 120px;
      width: 60px;
    }
  }
}

.registerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0px;
  z-index: 999;

  .registerMain {
    width: 30%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    text-align: center;

    .title {
      margin-top: 50px;
      margin-bottom: 70px;
      font-size: 20px;
    }
  }
}
