.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .mainWrapper {
    // overflow-x: hidden;
    // overflow-y: hidden;

    // padding: 80px 250px 60px;
    // flex-direction: column;

    display: flex;
    flex: 1;
    // margin-bottom: 60px;

    .mainContent {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
