.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // overflow-y: hidden; //이것때문에 안에 content 상하스크롤이 막히네요

  .mainWrapper {
    display: flex;
    flex: 1;

    .mainContent {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
